---
---

//
// IMPORTS
//

@import "_reset";
@import "_variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
  font: 1.25em/1.3 $halant;
  color: $darkGray;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: #333;
}

h1, h2, h3 {
  font-family: Open Sans,Helvetica Neue,sans-serif;
  letter-spacing: -.04em;
}

@import "partial/_header";
@import "partial/_content";

@import "_highlights";
@import "_svg-icons";
